<div class="dashboard">
  <div class="container">
    <h6>Music Player</h6>
    <div class="showsong">
  <img src={{poster}} alt="">
  <div class="songplaying">
  <div>
  <h1>{{songTitle}}</h1>
  <h3>{{songArtist}}</h3>
  </div>
  <div class="playpausebutton">
    <i *ngIf="playpause" (click)="toggleplaybutton()" class="bi bi-play-circle"></i>
    <i *ngIf="!playpause" (click)="togglepausebutton()" class="bi bi-pause-circle"></i>
  </div>
</div>
</div>
  <div class="song" *ngFor="let song of songs" >
    <div class="songdetails" (click)="playSong(song)">
      <div>
      <img src={{song.posterurl}} alt="">
    </div>
    <div>
      <h2>{{song.title}}</h2>
      <p>{{song.artist}}</p>
    </div>
    <div style="margin-left: auto;padding-right: 20px;">
      <p>{{song.duration}}</p>
    </div>
    </div>
  </div>
</div>
</div>